body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }
  
  nav {
    background-color: #0077cc;
    padding: 2rem;
    text-align: center;
  }
  
  nav a {
    color: rgb(0, 0, 0);
    margin: 0 15px;
    text-decoration: none;
  }
  
  main {
    padding: 2rem;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 0 40px 0;
    width: 100vw;
    box-sizing: border-box;
    background: #f4f4f4;
  }
  
  .about-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  
 